.cart {
  --inline-padding: 1.85rem;
  font-family: inherit;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.cart__header {
  padding-inline: var(--inline-padding);
  padding-block: 1.5rem;
  border-bottom: solid 1px #d9d9d9;
}

.cart__content {
  padding-inline: var(--inline-padding);
  padding-block: 1.5rem 2.25rem;
}

.cart__title {
  line-height: 1;
  font-size: 1.15rem;
  font-weight: 700;

  color: var(--clr-very-dark-blue, #1d2025);
}

.cart__items {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart__items--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 3rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #6c7076;
}

.cart__actions {
  margin-top: 1.75rem;
}

.cart__actions > button {
  width: 100%;
}
