.layout {
  height: 100%;
  width: min(64rem, 90%);
  padding-block: 2rem;
  margin-inline: auto;
  display: grid;
}

.product {
  display: flex;
  align-items: center;
  gap: clamp(3rem, 10vw, 7rem);
}

.product > * {
  flex: 1;
}

.product > *:first-child {
  width: 100%;
  max-width: 27rem;
}

@media screen and (max-width: 48rem) {
  .layout {
    width: 100%;
    padding-block: 0 3rem;
  }

  .product {
    flex-direction: column;
    gap: 1.5rem;
    align-items: unset;
  }

  .product > *:first-child {
    max-width: unset;
  }

  .product > *:last-child {
    padding-inline: 1.5rem;
  }
}
