.layout {
  height: 100%;
  width: min(1000px, 90%);
  padding-block: 2rem;
  margin-inline: auto;
  display: grid;
}

.product {
  display: flex;
  align-items: center;
  gap: clamp(3rem, 7vw, 6.5rem);
}

.product > * {
  flex-grow: 1;
}

.product > *:first-child {
  min-height: 380px;
}

@media screen and (max-width: 768px) {
  .layout {
    width: 100%;
    padding-block: 0 3rem;
  }

  .product {
    flex-direction: column;
    gap: 1.5rem;
    align-items: unset;
  }

  .product > *:last-child {
    padding-inline: 2rem;
  }
}
