:root {
  /* Primary */
  --clr-orange: rgb(255, 125, 26);
  --clr-pale-orange: #ffede0;

  /* Neutral */
  --clr-very-dark-blue: rgb(29, 32, 37);
  --clr-dark-grayish-blue: #747c89;
  --clr-grayish-blue: #b6bcc8;
  --clr-light-grayish-blue: #f7f8fd;

  --clr-white: #ffffff;
  --clr-black: #000000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Kumbh Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--clr-white, #fff);
}

* {
  outline: none;
}

*:focus-visible {
  box-shadow: 0 0 0 1.5px var(--clr-orange, #ff7d1a);
}

::selection {
  background-color: var(--clr-orange, #ff7d1a);
  color: var(--clr-white, #fff);
}
