.button {
  position: relative;
  isolation: isolate;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 0.9em;
  border-radius: 0.6rem;
  border: none;
  outline: none;
  background: none;
  overflow: clip;
  cursor: pointer;

  color: var(--clr-very-dark-blue, #1d2025);
  font-weight: 700;
  white-space: nowrap;

  transition: scale 0.35s ease;
}

.button:active {
  scale: 0.96;
}

.button::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: var(--clr-orange, #ff7d1b);
  transition: background-color 0.4s ease;
}

.button:hover.button::after {
  background-color: hsl(from var(--clr-orange, #ff7d1b) h s l / 0.6);
}

.button svg {
  flex-shrink: 0;
  width: 1.05rem;
}

.button svg path {
  fill: var(--clr-very-dark-blue, #1d2025);
}
